<section class="cart">
                <h1>CART</h1>
                <table class="profile">
                    <tr>
                        <td>Item</td>
                        <td>ISBN</td>
                        <td>Description</td>
                        <td>Price</td>
                    </tr>
                     <tr>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                    </tr>
                     
                  </table>
                </section>
           <aside class="summary">
                <ul class="sidebar-nav">
                    <li><h2> Total Summary</h2></li>
                    <li>Free Shipping</li>
                    <li>EST. TAX:</li>
                    <li>$0.00</li>

                    <li>TOTAL</li>
                    <li>#</li>
                    <!--<li><a href="./thanks.html"><button onclick="purchase()" class="add-cart" id="btn-purchase" >Purchase</button></a></li>-->
                    <li><button class="add-cart" type="button" name="submit" (click)="goToOrderDetail()">Purchase</button></li>

                </ul>
            </aside>
