section.thanks{
        text-align:center;
    }
    .thankyou {
        color:#434343;
        margin:8px 20px;
        font-size:30px;
        font-weight:bold;
    }
    .confirm-notify{
        font-size: 20px;
    }
    table.profile td{
        padding:8px 20px;
        text-align: center;
    }
    
    
