<section class="thanks">
                <h1 class="thankyou">THANK YOU FOR PURCHASING!!!</h1>
                <p class="confirm-notify">Confirmation will be sent to your email</p>
                <table class="profile">
                    <tr>
                        <td><h2>Shipping Address</h2></td>
                        <td><h2>Payment Method</h2></td>
                        <td><h2>Order Summary</h2></td>
                    </tr>
                     <tr>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                    </tr>
                     
                  </table>
                      <button (click)="goToCategory()">Shop More</button>

                </section>