<nav class="top-nav">
  <ul class="top-links">
    <li><a href="#">HOME </a></li>
    <li><a href="./bookcategory">BOOKS </a></li>
    <li><a href="./aboutus">ABOUT US </a></li>
    <li><a href="./contactus">CONTACT US </a></li>
    <li><a href="./login">LOG IN </a></li>
  </ul>
</nav>

<div class="slideshow">
  <ul class="rslides">
    <li><img src="./assets/img/slide2.png" alt="" height="400"></li>
    <li><img src="./assets/img/slide1.png" alt="" height="400"></li>
    <li><img src="./assets/img/slide3.png" alt="" height="400"></li>
  </ul>
</div>