<!DOCTYPE HTML>
<html>

<head>
    <title>Elevate</title>

    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

    <link rel="icon" href="./assets/img/favi.png">
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <header class="top-logo"></header>
            <main-nav> </main-nav>
            <section class="items">
                <section class="galleries">
                    <ul>
                        <router-outlet></router-outlet>
                    </ul>
                </section>
            </section>

            <!-- <aside class="recent">
            </aside>!-->
            <main-footer></main-footer>
            
        </div>
    </div>

</body>

</html>