<aside class="menu">
                 <ul class="sidebar-nav">
                    <li><h1>Dashboard</h1></li>
                    <li><a href="./profile">Profile</a></li>
                    <li><a href="./recentlyorder">Recently Order</a></li>
                    <li><a href="">Sign Out</a></li>
                </ul>
            </aside>
<section class="main">
                <h1>Profile</h1>
                <table class="profile">
                    <tr>
                        <td><img class="profile-pic" src="http://placehold.it/350x300?text=profile" alt="profile-pic"></td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>#</td>
                    </tr>
                     <tr>
                        <td>Middle Name</td>
                        <td>#</td>
                    </tr>
                     <tr>
                        <td>Last Name</td>
                        <td>#</td>
                    </tr>
                     <tr>
                        <td>Email</td>
                        <td>#</td>
                    </tr>
                     <tr>
                        <td>Billing Address</td>
                        <td>#</td>
                    </tr>
                     <tr>
                        <td>Payment</td>
                        <td>#</td>
                    </tr>
                  </table>
                </section>