<section class="about">
  <h1>ABOUT ELEVATE</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec mi ac est commodo rutrum. Nulla lobortis, velit in
    mattis elementum, nulla ipsum fringilla justo, accumsan maximus mauris lacus eget orci. Quisque vitae aliquet lacus.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere mollis ipsum iaculis ornare. Ut dui lorem, interdum
    sed justo in, tincidunt porttitor justo. <img src="img/bookpile.jpg" align="left" height="350">Maecenas aliquam lectus
    eget mi molestie, vel euismod risus ultrices. Pellentesque eu facilisis dolor. Ut eu tortor quis est rhoncus gravida
    ac eget neque. Proin finibus, tortor porta eleifend porta, urna lacus iaculis velit, sed fermentum purus massa at mauris.
    Donec lobortis sagittis metus, vitae aliquet risus placerat in. Suspendisse scelerisque quis massa in commodo.</p>

  <p>Vestibulum eleifend arcu risus, ac tempus sem rhoncus nec. Morbi sem massa, bibendum nec imperdiet non, condimentum sit
    amet quam. Mauris semper pretium enim sed egestas. Sed aliquet elit ex, eget ultricies massa finibus ac. Nullam blandit
    nisl eget ligula varius placerat. Nulla quis hendrerit quam. Sed maximus metus eu nibh aliquam, a dignissim tellus suscipit.
    Morbi egestas magna velit. Quisque consequat, augue ac porttitor vehicula, turpis augue lobortis quam, vitae maximus
    nunc quam sit amet ex. Suspendisse ultrices eu mauris id placerat. Donec molestie, augue non malesuada laoreet, nisl
    urna aliquet magna, sed vehicula orci augue ornare enim. Etiam nec volutpat erat, sit amet sollicitudin ex. Sed cursus
    cursus pellentesque. Sed aliquet arcu nec ex porta vulputate.</p>

  <p>In sit amet mauris dui. Donec quis magna tempus, tempor quam nec, auctor sapien. Nulla eu elementum nunc. <img src="img/books.jpg"
      align="right" height="250">Integer commodo nibh nulla, ut facilisis massa faucibus et. Nunc gravida sem est, eu sagittis
    neque convallis ut.Proin et hendrerit lectus. Sed non elit nec dui egestas egestas. Etiam vestibulum dui eget euismod
    tempor. Etiam maximus mattis sem, eu auctor dolor tristique eget. Mauris condimentum sit amet mauris et consequat.</p>

  <p>Curabitur ac justo eu purus volutpat lobortis sed non mi. Sed consectetur nunc vitae fermentum convallis. Phasellus nec
    tellus in neque tincidunt eleifend. Donec aliquam interdum pharetra. Morbi sed mi porttitor, faucibus sem et, imperdiet
    urna. In eget odio tempor leo placerat volutpat. Proin dignissim eu ex vel sollicitudin. Integer ut imperdiet orci. Sed
    ultrices tempor ligula, id consequat magna. Sed porttitor enim sed rhoncus euismod. Fusce vel lacus eget mauris malesuada
    lacinia ut in mi. Aenean nec enim sapien. Proin varius non tortor sed eleifend.</p>

  <p>Mauris vel eleifend leo, sed cursus ex. Fusce purus nulla, consequat sed neque et, congue auctor leo. Quisque non felis
    vehicula, lacinia nibh at, porttitor turpis. Aliquam vel orci vitae quam vehicula scelerisque at tristique nulla. Nunc
    porttitor lectus ipsum, sit amet vulputate felis eleifend vitae. Vivamus mattis erat eget justo malesuada, id tristique
    urna accumsan. In hac habitasse platea dictumst. Duis ultricies vestibulum ante quis consequat. Cras vel fermentum dolor.
    Nunc ipsum nibh, blandit non odio in, laoreet maximus enim. Quisque vitae rutrum mauris.</p>
</section>