 .footer-copyright
    {
        width:100%;
        height:50px;
        text-align:center;
        float: left;
        margin-bottom: 3%;
    }
    .social-links ul {
         margin-right: 5%;
    }
    .social-links li {
       display: inline-block;
       /*margin-right: 5%;*/
    }

.social-icon{
    width: 80%;
    height: 80%;
}