<footer class="footer-copyright">
  <aside class="social-links">
    <ul>
      <li><a href="http://facebook.com" target="_blank"><img class="social-icon" src="./assets/img/32x32-facebook.png" alt="Facebook-icon"></a></li>
      <li><a href="http://instagram.com" target="_blank"><img class="social-icon" src="./assets/img/32x32-instagram.png" alt="Instgram-icon"></a></li>
      <li><a href="http://linkedin.com" target="_blank"><img class="social-icon" src="./assets/img/32x32-linkedin.png" alt="Linkined-icon"></a></li>
      <li><a href="http://pinterest.com" target="_blank"><img class="social-icon" src="./assets/img/32x32-pinterest.png" alt="Pinterest-icon"></a></li>
      <li><a href="http://twitter.com" target="_blank"><img class="social-icon" src="./assets/img/32x32-twitter.png" alt="Twitter-icon"></a></li>
      <li><a href="http://youtube.com" target="_blank"><img class="social-icon" src="./assets/img/32x32-youtube.png" alt="Youtube-icon"></a></li>
    </ul>
  </aside>
  <p> &copy; ELEVATE TEAM 2017</p>
</footer>